* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-size: 1.6rem;
    font-family: 'Castellar', serif;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

p{
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding: 10px;
    max-width: 1200px; 
  line-height: 1.5; 
  padding-left: 10px;
}

#sommaire{
    display: flex;
    flex-direction: column;
    border: solid 5px blue;
    width: 200px;
    margin-bottom: 200px;
    margin-left: 50px;
}

ul{
    list-style: none;
}

li{
    padding: 20px;
}

li a{
    padding: 10px;
    color: red;
}

.title-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 80px;
}

    .title-container h1 {
        color: rgb(155, 13, 43);
        padding-top: 10px;
    }

    h2{
        color: rgb(155, 13, 43);
        padding-left: 50px;
    }



  @function random-range($min, $max) {
    $rand: random();
    $random-range: $min + floor($rand * (($max - $min) + 1));
    @return $random-range;
  }
  
  .snow {
    $total: 200;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  
    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random-range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: calc(#{$random-x} + (#{$random-offset} / 2));
      $random-yoyo-time: calc(random-range(30000, 80000) / 100000);
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random-range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;
  
      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation-name: fall-#{$i};
        animation-duration: $fall-duration;
        animation-delay: $fall-delay;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
  
      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
        }
  
        to {
          transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
        }
      }
    }
  }